@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Add.AddCashgamePageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Start Cashgame</h1>
</div>
<div class="block gutter">
    
    @Html.RenderModel(Model.Errors)

    <form method="post">
        <fieldset>
            <p>
                @Html.LabelFor(model => model.LocationId, "Location", new { @class = "label" })
                @Html.DropDownListFor(x => x.LocationId, Model.Locations)
            </p>
        </fieldset>
        <div class="buttons">
            <button type="submit" class="button button--action">Create</button>
        </div>
    </form>
</div>