@import "mixins";

.button--icon{
    border: none;
    background: transparent;
	display:inline-block;
	@include default-font;
	@include fontsize(10);
	padding: 4px 9px;
	text-align: center;

	i{
		display: block;
		@include fontsize(28, 10);
	}
}