@import "mediaqueries.less";
@import "mixins.less";

.amount{
	text-align: right;
}

.pos-result{
	color:green;
}

.neg-result{
	color:red;
}

@media @widthXSmall {
	.add-cashgame-button{
		position:absolute;
		top:15px;
		left:300px;
	}
}