@model Web.Models.CashgameModels.Details.CashgameDetailsTableModel

<table class="table-list">
    <thead>
        <tr class="table-list__row">
            <th class="table-list__column-header"><span class="table-list__column-header__content">Player</span></th>
            <th class="table-list__column-header"><span class="table-list__column-header__content">Buyin</span></th>
            <th class="table-list__column-header"><span class="table-list__column-header__content">Cashout</span></th>
            <th class="table-list__column-header"><span class="table-list__column-header__content">Result</span></th>
            <th class="table-list__column-header"><span class="table-list__column-header__content">Winrate</span></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var resultModel in Model.ResultModels)
        {
            @Html.Partial("CashgameDetails/ResultTableItem", resultModel)
        }
    </tbody>
</table>