<tr class="table-list__row">
    <td class="table-list__cell table-list__cell--numeric table-list--sortable__base-column">{{player.rank}}.</td>
    <td class="table-list__cell table-list--sortable__base-column">
        <a v-bind:href="player.url">{{player.name}}</a>
    </td>
    <td v-bind:class="'table-list__cell table-list__cell--numeric ' + winningsCssClass + ' ' + winningsSortCssClass" v-text="formattedWinnings"></td>
    <td v-bind:class="'table-list__cell table-list__cell--numeric ' + buyinSortCssClass" v-text="formattedBuyin"></td>
    <td v-bind:class="'table-list__cell table-list__cell--numeric ' + cashoutSortCssClass" v-text="formattedCashout"></td>
    <td v-bind:class="'table-list__cell ' + timeSortCssClass" v-text="formattedTime"></td>
    <td v-bind:class="'table-list__cell table-list__cell--numeric ' + gameCountSortCssClass">{{player.gameCount}}</td>
    <td v-bind:class="'table-list__cell table-list__cell--numeric ' + winRateSortCssClass" v-text="formattedWinRate"></td>
</tr>