<tr class="table-list__row">
    <td class="table-list__cell table-list__cell--numeric table-list--sortable__base-column">{{player.rank}}.</td>
    <td class="table-list__cell table-list--sortable__base-column">
        <a href="{{player.url}}">{{player.name}}</a>
    </td>
    <td class="table-list__cell table-list__cell--numeric {{winningsCssClass}} {{winningsSortCssClass}}" v-text="player.winnings | result currencyFormat thousandSeparator"></td>
    <td class="table-list__cell table-list__cell--numeric {{buyinSortCssClass}}" v-text="player.buyin | currency currencyFormat thousandSeparator"></td>
    <td class="table-list__cell table-list__cell--numeric {{cashoutSortCssClass}}" v-text="player.cashout | currency currencyFormat thousandSeparator"></td>
    <td class="table-list__cell {{timeSortCssClass}}" v-text="player.time | time"></td>
    <td class="table-list__cell table-list__cell--numeric {{gameCountSortCssClass}}">{{player.gameCount}}</td>
    <td class="table-list__cell table-list__cell--numeric {{winRateSortCssClass}}" v-text="player.winRate | winrate currencyFormat thousandSeparator"></td>
</tr>