@model Web.Models.UserModels.ForgotPassword.ForgotPasswordConfirmationPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Password Sent</h1>
</div>
<div class="block gutter">
    <p>
        A new password has been sent. Check your email!
    </p>
</div>