@model Web.Models.CashgameModels.Listing.CashgameListingTableModel
<table class="cashgames">
    <thead>
    <tr>
        <th class="title date">Date</th>
        <th class="title">Players</th>
        <th class="title">Location</th>
        <th class="title">Duration</th>
        <th class="title">Turnover</th>
        <th class="title">Average Buyin</th>
    </tr>
    </thead>
    <tbody>
        @foreach (var listItemModel in Model.ListItemModels)
        {
            @Html.Partial("Listing/CashgameTableItem", listItemModel);
        }
    </tbody>
</table>