@model Web.Models.CashgameModels.Leaderboard.LeaderboardTableModel

<div class="leaderboard list">
    @foreach(var itemModel in Model.ItemModels)
    {
        @Html.Partial("Leaderboard/LeaderboardTableItem", itemModel)
	}
</div>