@using Web.Models.PageBaseModels
@model Web.Models.LocationModels.Add.AddLocationConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Location Created</h1>
</div>
<div class="block gutter">
	<p>
		The location was created
	</p>
</div>