@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Action.ActionPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">@Model.Heading</h1>
</div>
<div class="block gutter">
	<div>
	    <cashgame-action-chart id="vue-cashgame-action-chart">
	        <script type="application/json">
            @Html.Raw(Model.ChartJson)
        </script>
	    </cashgame-action-chart>
	</div>
</div>

@section Aside2{
    <div class="block gutter">
        @Html.RenderModel(Model.Checkpoints)
    </div>
}

