@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Action.ActionPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">@Model.Heading</h1>
</div>
<div class="block gutter">
	<div>
	    <div data-require="cashgame-action-chart">
	        @Html.RenderModel(Model.SpinnerModel)
	        <script type="application/json">
                @Html.Raw(Model.ChartJson)
            </script>
	    </div>
	</div>
</div>

@section Aside2{
    <div class="block gutter">
        @Html.Partial("CashgameAction/CheckpointList", Model.Checkpoints)
    </div>
}

