@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Chart.CashgameChartPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<div data-require="cashgame-chart" data-url="@Model.ChartDataUrl">Loading chart...</div>
</div>