packages
*.ncrunchproject
*.ncrunchsolution.user
_NCrunch_*/
.vs/
*.suo
**/obj/
**/bin/
**/*proj.user
*.pubxml
*.pubxml.user
**/*.dbmdl
Web/_build/main.js
Web/package-lock.json
**/Properties/PublishProfiles/*.*
**/node_modules
Web/Assets
Web/dist
Web/Views/Generated
**/*.Debug.config
**/Local.config
*.user
/Web/appsettings.Development.json
/Web/wwwroot/dist