@model Web.Models.CashgameModels.Running.BarModel
@if (Model.GameIsRunning)
{
    <div class="bar running-game">
        <a href="@Model.Url">Running game</a>
    </div>
}
else
{
    <div class="bar">
        <a href="@Model.Url">Start game</a>
    </div>
}