@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.AppModels.List.AllAppsPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">All Apps</h1>
</div>
<div class="block gutter">
    @if (Model.HasApps)
    {
        <ul class="simple-list">
            @foreach (var appModel in Model.AppModels)
            {
                <li class="simple-list__item">
                    @Html.RenderModel(appModel)
                </li>
            }
        </ul>
    }
    else
    {
        @:There are no apps here yet
    }
</div>