@using Web.Models.PageBaseModels
@model Web.Models.AppModels.List.AppListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Apps</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var appModel in Model.AppModels)
        {
            <li class="simple-list__item">
                @Html.Partial("AppList/Item", appModel)
            </li>
        }
    </ul>
</div>