@using Web.Models.PageBaseModels
@model Web.Models.AppModels.List.UserAppsPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">User Apps</h1>
</div>
<div class="block gutter">
    @if (Model.HasApps)
    {
        <ul class="simple-list">
            @foreach (var appModel in Model.AppModels)
            {
                <li class="simple-list__item">
                    @Html.Partial("AppList/Item", appModel)
                </li>
            }
        </ul>
    }
    else
    {
        @:You have no apps yet.
    }
</div>

@section Aside1
{
    <div class="block gutter">
        <div>
            <a href="@Model.AddUrl" class="button button--action">Add App</a>
        </div>
    </div>
}