@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.Join.JoinBunchPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Join Bunch</h1>
</div>
<div class="block gutter">
	
    <p>
		Please enter your invitation code below to join the bunch @Model.Name
	</p>

    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.Code, "Invitation Code", new { @class = "label" })
                @Html.TextBoxFor(model => model.Code, new { @class = "longfield" })
            </p>
		</fieldset>
		<div class="buttons">
			<button class="action" type="submit">Join</button>
		</div>
	</form>
</div>