@using Web.Extensions
@model Web.Components.ApiDocsModels.DocsSectionModel

@foreach (var block in Model.Blocks)
{
    <div class="block gutter">
        @Html.RenderModel(block)
    </div>
}
