@model Web.Models.CashgameModels.Toplist.CashgameToplistPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

@Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.CashgameNavModel.PageNavModel)

<div class="block gutter">
    <h1>
        Toplist
        @Html.Partial("~/Views/Navigation/CashgameNavigation.cshtml", Model.CashgameNavModel)
    </h1>
</div>
<div class="block gutter">
    @Html.Partial("Toplist/ToplistTable", Model.TableModel)
</div>