@using Web.Models.PageBaseModels
@model Web.Models.AppModels.Details.AppDetailsPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">App Details</h1>
</div>
<div class="block gutter">
    <dl class="value-list">
        <dt class="value-list__key">App Name</dt>
        <dd class="value-list__value">@Model.AppName</dd>
        <dt class="value-list__key">Api Key</dt>
        <dd class="value-list__value">@Model.AppKey</dd>
    </dl>
    @if (Model.ShowEditLink)
    {
        <div>
            <a href="@Model.EditUrl" class="button button--action">Edit App</a>
        </div>
    }
</div>