<div class="form">
    <div class="field">
        <label class="label" for="buyin-amount">Amount</label>
        <input class="numberfield" v-model.number="amount" v-on:focus="focus" ref="buyin" id="buyin-amount" type="text" pattern="[0-9]*">
    </div>
    <div class="field" v-if="isInGame">
        <label class="label" for="buyin-stack">Stack Size</label>
        <input class="numberfield" v-model.number="stack" v-on:focus="focus" id="buyin-stack" type="text" pattern="[0-9]*">
    </div>
    <div class="buttons">
        <button v-on:click="buyin" class="button button--action">Buy In</button>
        <button v-on:click="cancel" class="button">Cancel</button>
    </div>
</div>