@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Toplist.CashgameToplistPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    @Html.Partial("Toplist/ToplistTable", Model.TableModel)
</div>