@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Toplist.CashgameToplistPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter" id="sort-control-container">
    @Html.Partial("Toplist/ToplistTable", Model.TableModel)
</div>

<div class="block gutter">
    <top-list-table json-container="top-list-data"></top-list-table>
    <script type="application/json" id="top-list-data">
        @Html.Raw(Model.ToplistJson)
    </script>
</div>