@model Web.Models.CashgameModels.Toplist.TopListTableColumn
@if (Model.SortingEnabled)
{
    <th class="table-list__column-header @Model.CssClass"><a href="@Model.Url" class="table-list__column-header__content">@Model.Text</a></th>
}
else
{
    <th class="table-list__column-header"><span class="table-list__column-header__content">@Model.Text</span></th>
}