@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Toplist.CashgameToplistPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <top-list-table id="vue-top-list-table" json-container="top-list-data"></top-list-table>
    <script type="application/json" id="top-list-data">
        @Html.Raw(Model.ToplistJson)
    </script>
</div>