@model Web.Models.NavigationModels.CashgameYearNavigationModel
<nav class="year-nav heading-nav" data-hookup="heading-nav">
    <span>@Model.SelectedYear</span>
    <i class="nav-arrow"></i>
    <ul>
        @foreach (var yearModel in Model.YearModels)
        {
            <li class="@yearModel.SelectedCssClass"><a href="@yearModel.Url">@yearModel.Text</a></li>
        }                                                                                          
    </ul>
</nav>