@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.AppModels.Add.AddAppPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Add App</h1>
</div>
<div class="block gutter">
	
    <p>
        If you want to access PokerBunch via the API, you need to generate an API Key here.
        Just enter a name for your app and a key will be generated for you.
	</p>

    @Html.RenderModel(Model.Errors)
    
    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.AppName, "App Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.AppName, new { @class = "textfield" })
            </p>
		</fieldset>
		<div class="buttons">
            <button class="button button--action" type="submit">Add App</button>
		</div>
	</form>
</div>