@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.Add.AddBunchConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Bunch Created</h1>
</div>
<div class="block gutter">
	<p>
		Your bunch has been created.
	</p>
</div>