@using Web.Models.PageBaseModels
@model Web.Models.EventModels.List.EventListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Events</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var eventModel in Model.EventModels)
        {
            <li class="simple-list__item">
                @Html.Partial("EventList/Item", eventModel)
            </li>
        }
    </ul>
</div>