@using Web.Models.PageBaseModels
@model Web.Models.EventModels.List.EventListPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">Events</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var eventModel in Model.EventModels)
        {
            <li class="simple-list__item">
                @Html.Partial("EventList/Item", eventModel)
            </li>
        }
    </ul>
</div>

@section Aside1
{
    <div class="block gutter">
        <a href="@Model.AddUrl" class="button button--action">Add Event</a>
    </div>
}