@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.AuthModels.LoginPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Sign in</h1>
</div>
<div class="block gutter">

	<p>
		Please sign in using your username and password. <a href="@Model.ForgotPasswordUrl">Forgot password?</a>
	</p>
	<p>
		If you are a new user, please <a href="@Model.AddUserUrl">register</a>!
	</p>

	<login-form id="vue-login-form"></login-form>
</div>