@model Web.Models.HomegameModels.Add.HomegameAddConfirmationModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Homegame Created</h1>
</div>
<div class="block gutter">
	<p>
		Your homegame has been created.
	</p>
</div>