@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.Add.AddHomegameConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Homegame Created</h1>
</div>
<div class="block gutter">
	<p>
		Your homegame has been created.
	</p>
</div>