@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.Details.BunchDetailsPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>@Model.DisplayName</h1>
</div>
<div class="block gutter">
    <p>
        @Model.Description
    </p>
    @if (Model.ShowHouseRules)
    {
		<h2>House Rules</h2>
		<p>
			@Model.HouseRules
		</p>
	}
    @if (Model.ShowEditLink)
    {
		<p>
			<a href="@Model.EditUrl.Relative">Edit Game</a>
		</p>
	}
</div>