@model Web.Models.HomegameModels.List.HomegameListPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Homegames</h1>
</div>
<div class="block gutter">

    <ul class="homegames simple list">
        @foreach(var homegameModel in Model.HomegameModels)
        {
            <li>
                @Html.Partial("HomegameListItem", homegameModel)
            </li>
        }
    </ul>
</div>