@model Web.Models.CashgameModels.Cashout.CashoutPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
    <h2>Cash Out</h2>
</div>
<div class="block gutter">

    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
        <fieldset>
            <div>
                @Html.LabelFor(model => model.StackAmount, "Stack Size", new{ @class = "label" })
                @Html.TextBoxFor(model => model.StackAmount, new { @class = "numberfield", pattern = "[0-9]*", required = true, min="0", data_require="focus-text-selector" })
            </div>
            <div class="buttons">
                <button type="submit" class="action">Cash Out</button>
            </div>
        </fieldset>
    </form>
    
</div>