.amount {
  text-align: right;
}
.cashgames th span,
.cashgames td.game-info span {
  display: block;
}
.cashgames .details {
  display: none;
}
.cashgames .date {
  text-align: right;
}
.pos-result {
  color: green;
}
.neg-result {
  color: red;
}
@media only screen and (min-width : 480px) {
  .add-cashgame-button {
    position: absolute;
    top: 15px;
    left: 300px;
  }
}
