.facts {
  display: table;
}
.facts div {
  display: table-row;
}
.facts h3 {
  display: table-cell;
  white-space: nowrap;
}
.facts p {
  display: table-cell;
  padding: 5px;
  white-space: nowrap;
}
