@import "mixins";

fieldset{
    border: 0;
    margin: 0;
    padding: 0;
}

label{
    display: block;
    .default-font();
    margin: 0;
}

input[type=text],
input[type=number],
input[type=password],
input[type=date],
input[type=datetime],
input[type=email]{
    border: solid 1px #9e9e9e;
    .default-font();
    padding: 4px 9px;
}

.form{
    overflow: hidden;

    .field{
        float: left;
    }
    .field + .field{
        margin-left: 4px;
    }
    .buttons{
        float: left;
        margin: 14px 0 0 4px;
    }
}

.button{
    border: 1px solid #ccc;
    color: #000;
    background: #fff;
    display:inline-block;
    .default-font();
    font-weight: normal;
    padding: 6px 10px;
	text-decoration: none;
	white-space: nowrap;
	.fontsize(12);
	text-transform: uppercase;
}

.button--icon{
    border: none;
    background: transparent;
	display:inline-block;
	.default-font();
	.fontsize(10);
	padding: 4px 9px;
	text-align: center;

	i{
		display: block;
		.fontsize(28, 10);
	}
}

.button--action{
    border: 1px solid #bcb;
    background: #f6f4ef;
}

.warning{
}

.buttons{
	margin-top:15px;
}

.button-list{
	margin-top:15px;
	padding: 0 6px;

	.button{
		border: none;
		background:none;
	}
}

.validation-error{
    color:red;
}

input.numberfield{
	width:50px;
	text-align: right;
}

input.textfield{
	width:170px;
}

input.longfield {
	width:400px;
}

.checkbox-layout{
    position:relative;

	input{
		position:absolute;
		left:0;
		top:4px;
	}

	label{
		margin-left:20px;
	}
}