@import "mixins";

.list > :nth-child(odd) {
	background: #eee;
}

.simple.list{
	padding:0;
	list-style-type: none;

	li {
		padding:5px;
	}
}

.value-list{
	dt{
		.fontsize(12);
		text-transform: uppercase;
	}
	dd{
		margin: 0 0 10px 0;
	}
}

.table-list{
    margin-bottom:10px;

	th{
		padding: 0;
		text-align: left;
		vertical-align: bottom;
		.fontsize(12);
		text-transform: uppercase;
		border-bottom: 1px solid #bbb;
		font-weight: normal;

		a,
		span{
			padding: 10px 5px;
			display: block;
		}
	}

    td{
        vertical-align: top;
		padding: 5px;
    }

    .numeric{
        text-align: right;
    }
}