@import "mixins";

.simple.list{
	padding:0;
	list-style-type: none;

	li {
		padding:5px 0;
	}

    li + li{
        border-top: 1px solid #e7ede7;
    }
}

.value-list{
	dd{
		margin: 0 0 10px 0;
	}
}

.table-list{
    margin-bottom:10px;

	th{
		padding: 0;
		text-align: left;
		vertical-align: bottom;
		.fontsize(12);
		text-transform: uppercase;
		font-weight: normal;

		a,
		span{
			padding: 10px 5px;
			display: block;
		}
	}

    tr + tr{
        border-top: 1px solid #e7ede7;
    }

    td{
        vertical-align: top;
		padding: 5px;
    }

    .numeric{
        text-align: right;
    }
}