.list > :nth-child(odd) {
	background: #eee;
}

.simple.list{
	padding:0;
	list-style-type: none;

	li {
		padding:5px;
	}
}

.value-list{
	dt{
		font-size: 12px;
		text-transform: uppercase;
	}
	dd{
		margin: 0 0 10px 0;
	}
}

.table-list{
	th{
		padding: 0;
		text-align: left;
		vertical-align: bottom;
		font-size: 12px;
		text-transform: uppercase;
		border-bottom: 1px solid #bbb;
		font-weight: normal;

		a,
		span{
			padding: 10px 5px;
			display: block;
		}
	}
}