@import "mediaqueries";
@import "mixins";

nav{
    .default-font();
    overflow: hidden;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	h2{
		margin: 0;
	}

	a{
		text-decoration: none;
	}

	.selected{
		font-weight: bold;
	}
}

.user-nav{
	background-color: #414141;
	padding: 15px 0;
	border-top: 10px solid #818181;
	
	ul{
		padding: 0;
	}

	li{
		float: left;
		margin: 0 0 0 1em;
	}

	h2{
		display: none;
	}

	a{
		color: #fff;
	}
}

.game-nav{
    padding: 0 0 15px 0;

	h2{
		font-weight: bold;
		margin-bottom: 5px;
	}

	li{
		margin: 0 15px 0 0;
		float: left;
	}

	a{
		color: #000;
	}

	.running-game-link{
		color: #000;
		display: inline-block;
		width: 18px;
		height: 18px;
		vertical-align: bottom;

		> span{
			display: none;
		}
	}

	.start-game-link{
		color: #000;
		display: inline-block;
		height: 18px;
		width: 18px;
		vertical-align: bottom;

		> span{
			display: none;
		}
	}
}

.content-nav{
	background: #ddd;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
}

.heading-nav-container{
	position: relative;
	min-height: 32px;
}

.heading-nav{
    position: absolute;
	top: 0;
	background-color: #e7ede7;
	overflow: visible;
    z-index: 10;

	> ul{
		.fontsize(16);
		background: #e7ede7;

		> li{
            display: none;

			> a{
				display: block;
                padding: 7px 12px;
				white-space: nowrap;
			}
		}

        > li.selected{
			display: block;
            font-weight: bold;
		}
	}

    > ul.expanded{

		> li{
            display: block;
		}
	}
}

.year-nav{
	right: 0;

	> ul{
		> li{
			text-align: right;
        }
    }
}

.cashgame-nav{
	left: 0;

    li{
		margin-right: 5px;

        a{
            color: #000;
        }
	}
}

.admin-nav{
	margin-top: 15px;

	h2{
		display:none;
	}
	li{
		margin: 0 15px 0 0;
		float:left;
	}

	a{
		color: red;
	}
}

@media @widthSmall {
    .user-nav {
        background-color: transparent;
        border-top: none;
        padding: 0 15px;
        position: absolute;
        left: auto;
        right: 0;
        top: 1em;

		a{
			color: #000;
		}
    }
}