@import "mediaqueries.less";
@import "mixins.less";

nav{
    .default-font();
    overflow: hidden;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	h2{
		margin: 0;
	}

	.selected{
		font-weight: bold;
	}
}

.user-nav{
	padding: 15px 0;
	
	ul{
		padding: 0;
	}

	li{
		float: left;
		margin: 0 0 0 1em;
	}

	h2{
		display: none;
	}
}

.game-nav{
    padding: 0 0 15px 0;

	h2{
		font-weight: bold;
		margin-bottom: 5px;
	}

	li{
		margin: 0 15px 0 0;
		float: left;
	}

	a{
		color: #000;
	}

	.running-game-link{
		color: #000;
		display: inline-block;
		width: 18px;
		height: 18px;
		vertical-align: bottom;

		> span{
			display: none;
		}
	}

	.start-game-link{
		color: #000;
		display: inline-block;
		height: 18px;
		width: 18px;
		vertical-align: bottom;

		> span{
			display: none;
		}
	}
}

.content-nav{
	background: #ddd;
	border-bottom: 1px solid #bbb;
	overflow: hidden;
}

.heading-nav-container{
	position: relative;
	min-height: 32px;
}

.heading-nav{
    float: left;
    position: relative;
	overflow: visible;
    width: 125px;

	ul{
		.fontsize(16);
        z-index: 12;
	}

    li{
        display: none;
	}

    span,
    a{
		display: block;
        padding: 7px 12px;
		white-space: nowrap;
        padding-right: 32px;
	}

    span{
        background: #f6f4ef;
        border: 1px solid #bcb;
        cursor: pointer;
    }

    > .nav-arrow{
        display: block;
        border-style: solid;
        border-color: transparent;
        border-top-color: #000;
        border-width: 8px 6px 6px 6px;
        width: 0;
        height: 0;
        position: absolute;
        top: 11px;
        right: 12px;
        z-index: 11;
    }

    &.is-expanded{
        border-bottom: none;

        ul{
            position: absolute;
            background: #f6f4ef;
            border: 1px solid #bcb;
            border-top: none;
            width: 123px;
        }

        span{
            border-bottom: none;
        }

        li{
            display: block;
		}

        li.selected{
            font-weight: bold;
	    }
        
        > .nav-arrow{
            border-width: 6px 6px 8px 6px;
            border-top-color: transparent;
            border-bottom-color: #000;
            top: 5px;
        }
	}
}

.heading-nav + .heading-nav{
    margin-left: 15px;
}

.admin-nav{
	margin-top: 15px;

	h2{
		display:none;
	}
	li{
		margin: 0 15px 0 0;
		float:left;
	}

	a{
		color: red;
	}
}