@import "constants";
@import "mixins";
@import "mediaqueries";

html{
    overflow-y: auto;
}

body{
	background: #fff;
    color: @textColor;
    font-family:arial, verdana;
}

.page-header{
	background: @greenBg;
	padding: 15px 15px 0 15px;
}

.logo{
	display: none;
	
	a{
		color:#000;
		display:inline-block;
		text-decoration:none;
		.fontsize(16);
		text-transform: lowercase;
	}
}

.main{
	position:relative;
	background: #fff;
	margin-bottom: 15px;

	.has-nav{
		padding-top:40px;
	}
}

footer{
	.content{
		padding:0 15px;
		position:relative;
	}
}

a{
	color:#444;
}

h1{
	margin:0;
	font-weight:normal;
	.fontsize(18);
	.lineheight(24);
}

h2{
	font-weight:normal;
	.fontsize(16);
}

h3{
	.fontsize(16);
}

td,
th{
	white-space: nowrap;
}

dl{
	margin:0;
}

p{
	margin: 0 0 1em 0;
}

@media @widthXSmall {
    .logo a{
        .fontsize(24);
    }

    h1 {
        .fontsize(22);
	    .lineheight(28);
    }

    h2 {
        .fontsize(18);
    }
}

@media @widthSmall {
	body{
		margin-bottom: 15px;
		background:#fff;
	}

    .logo {
        display: block;
	    padding: 0 0 15px 0;
    }
}

@media @widthLarge {
    .logo {
        margin-left: 0px;
    }
}

@media @widthXLarge {
	body{
		.fontsize(18);
	}
}