html {
  overflow-y: auto;
}
body {
  background: #bcb;
  color: #444444;
  font-family: arial, verdana;
}
.page-header {
  padding: 15px 15px 0 15px;
}
.logo {
  display: none;
}
.logo a {
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-size: 1em;
  text-transform: lowercase;
}
.main {
  position: relative;
  background: #fff;
  padding-bottom: 15px;
}
.main .has-nav {
  padding-top: 40px;
}
footer .content {
  padding: 0 15px;
  position: relative;
}
a {
  color: #444;
}
h1 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
}
.h1 {
  margin-bottom: 10px;
  font-size: 1.125em;
}
h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0;
}
.h2 {
  margin-bottom: 10px;
}
h3 {
  font-weight: normal;
  font-size: 1em;
}
td,
th {
  white-space: nowrap;
}
dl {
  margin: 0;
}
p {
  margin: 15px 0 0 0;
}
@media only screen and (min-width : 480px) {
  .logo a {
    font-size: 1.5em;
  }
  h1 {
    font-size: 1.375em;
  }
  h2 {
    font-size: 1.125em;
  }
}
@media only screen and (min-width : 600px) {
  body {
    margin-bottom: 15px;
  }
  .logo {
    display: block;
    padding: 0 0 15px 0;
  }
}
@media only screen and (min-width : 960px) {
  .wrap {
    max-width: 981px;
    margin: 0 auto;
    position: relative;
  }
  .logo {
    margin-left: 0px;
  }
}
