@import "constants";
@import "mixins";
@import "mediaqueries";

html{
    overflow-y: auto;
}

body{
	background: #bcb;
    color: @textColor;
    .default-font();
}

.page-header{
	//background: @greenBg;
	padding: 15px 15px 0 15px;
}

.logo{
	display: none;
	
	a{
		color:#000;
		display:inline-block;
		text-decoration:none;
		.fontsize(16);
		text-transform: lowercase;
	}
}

.main{
	position:relative;
	background: #fff;
	padding-bottom: 15px;

	.has-nav{
		padding-top:40px;
	}
}

footer{
	.content{
		padding:0 15px;
		position:relative;
	}
}

a{
	color:#444;
}

h1{
	margin:0;
	font-weight:normal;
	.fontsize(16);
}
.h1{
    margin-bottom: 10px;
    .fontsize(18);
}

h2{
	font-weight: normal;
	.fontsize(16);
    margin: 0;
}
.h2{
    margin-bottom: 10px;
}

h3{
    font-weight: normal;
	.fontsize(16);
}

td,
th{
	white-space: nowrap;
}

dl{
	margin:0;
}

p{
	margin: 15px 0 0 0;
}

.body-wide{
    background: #fff;
}

.wide-wrap{
    margin: 10px auto;
}

@media @widthXSmall {
    .logo a{
        .fontsize(24);
    }

    h1 {
        .fontsize(22);
    }

    h2 {
        .fontsize(18);
    }
}

@media @widthSmall {
	body{
		margin-bottom: 15px;
	}

    .logo {
        display: block;
	    padding: 0 0 15px 0;
    }
}

@media @widthLarge {
    .wrap{
        max-width: 981px;
        margin: 0 auto;
        position: relative;
    }

    .logo {
        margin-left: 0px;
    }
}