.table-list--sortable {
  margin: 15px 0;
}
.table-list--sortable .table-list__column-header,
.table-list--sortable .table-list__cell {
  display: none;
}
.table-list--sortable .table-list--sortable__base-column,
.table-list--sortable .table-list--sortable__sort-column,
.table-list--sortable .table-list--sortable__sort-item {
  display: block;
  display: table-cell;
}
.table-list--sortable__sort-column {
  font-weight: bold;
}
@media only screen and (min-width : 600px) {
  .table-list--sortable .table-list__column-header,
  .table-list--sortable .table-list__cell {
    display: block;
    display: table-cell;
  }
  .table-list--sortable__sort-order-selector {
    display: none;
  }
}
