@using Web.Models.PageBaseModels
@model Web.Models.ErrorModels.ErrorPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">@Model.Title</h1>
    <p>@Model.Message</p>
</div>