@using Web.Models.PageBaseModels
@model Web.Controllers.ErrorPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1>@Model.Title</h1>
    <p>@Model.Message</p>
</div>