@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.Add.AddPlayerPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Add Player</h1>
</div>
<div class="block gutter">
	
    @Html.Partial("~/Views/Forms/Errors.cshtml")

    <form method="post">
		<fieldset>
			<p>
                @Html.LabelFor(model => model.Name, "Player Name", new { @class = "label" })
                @Html.TextBoxFor(model => model.Name, new { @class = "textfield" })
			</p>
		</fieldset>
		<div class="buttons">
            <button class="button button--action" type="submit">Add</button>
            <button class="button" data-require="cancel-button">Cancel</button>
		</div>
	</form>
</div>