@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.List.CashgameListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <game-list-table id="vue-game-list-table" json-container="game-list-data"></game-list-table>
    <script type="application/json" id="game-list-data">
        @Html.Raw(Model.ListJson)
    </script>
</div>