@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.List.CashgameListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter" id="sort-control-container">
    @Html.Partial("CashgameList/CashgameTable", Model.ListTableModel)
</div>