@model Web.Models.CashgameModels.Matrix.CashgameMatrixTableColumnHeaderModel

<th class="table-list__column-header"><a href="@Model.CashgameUrl" class="table-list__column-header__content">@Model.Date</a></th>