@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Matrix.CashgameMatrixPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    @Html.RenderModel(Model.TableModel)
</div>