@model Web.Models.UserModels.Listing.UserListingPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Users</h1>
</div>
<div class="block gutter">

    <ul class="users simple list">
        @foreach(var userModel in Model.UserModels)
        {
            <li>
                @Html.Partial("Listing/Item", userModel)
            </li>
        }
    </ul>
</div>