@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.List.BunchListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Bunches</h1>
</div>
<div class="block gutter">

    <ul class="simple list">
        @foreach(var homegameModel in Model.BunchModels)
        {
            <li>
                @Html.Partial("BunchList/BunchListItem", homegameModel)
            </li>
        }
    </ul>
</div>