@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.List.BunchListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Bunches</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var bunchModel in Model.BunchModels)
        {
            <li class="simple-list__item">
                @Html.RenderModel(bunchModel)
            </li>
        }
    </ul>
</div>