@model Web.Models.HomegameModels.List.BunchListModel

<ul class="simple-list">
    @foreach (var bunchModel in Model.BunchModels)
    {
        <li class="simple-list__item">
            @Html.Partial("BunchList/BunchListItem", bunchModel)
        </li>
    }
</ul>