@using Web.Models.PageBaseModels
@model Web.Models.UserModels.Add.AddUserConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">All done</h1>
</div>
<div class="block gutter">
    <p>
        Welcome to Poker Bunch! Your password has been sent by email. GL!
    </p>
</div>