@using Web.Models.PageBaseModels
@model CashgamePageModel

@{
    Layout = ContextLayout.Bunch;
}

@RenderBody()

@section ContentNav{
    <div class="heading-nav-container block gutter">
        @Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)
        @if (Model.YearNavModel != null)
        {
            @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
        }
    </div>
}