@using Web.Models.PageBaseModels
@model CashgamePageModel

@{
    Layout = ContextLayout.Bunch;
}

@RenderBody()

@section ContentNav{
    @Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)
    <div class="block gutter heading-nav-container" id="sort-control-container">
        @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
    </div>
}