@using Web.Extensions
@using Web.Models.PageBaseModels
@model CashgamePageModel

@{
    Layout = ContextLayout.Bunch;
}

@RenderBody()

@section ContentNav{
    <div class="heading-nav-container block gutter">
        @Html.Component(Model.PageNavModel)
        @if (Model.YearNavModel != null)
        {
            @Html.Component(Model.YearNavModel)
        }
    </div>
}