@using Web.Models.PageBaseModels
@model PageModel
           
@{
    Layout = ContextLayout.Base;
}

<header class="page-section">
    <div class="page-header">
        <div class="logo"><a href="/" class="logo-link">Poker Bunch</a></div>
        @RenderSection("TopNav", false)
    </div>
</header>

<div class="main clearfix">
    <div class="page-section">
        @RenderSection("ContentNav", false)
        @RenderBody()
    </div>
</div>
    
<div class="page-section">
    @RenderSection("BottomNav", false)
</div>