@using Web.Models.PageBaseModels
@model PageModel
           
@{
    Layout = ContextLayout.Base;
}

<div class="wrap">

    <header class="page-header">
        <div class="content">
            <div class="logo"><a href="/">Poker Bunch</a></div>
            @RenderSection("TopNav", false)
        </div>
    </header>

    <div class="main container">
        @RenderSection("ContentNav", false)
        @RenderBody()
    </div>

    @RenderSection("BottomNav", false)

</div>