@model Web.Models.HomeModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Poker Bunch</title>
    </head>
    <body>
        <div>
              Poker Bunch
        </div>
    </body>
</html>