@model Web.Components.ApiDocsModels.ParameterBlock.ParametersBlockModel

<table class="docs-table">
    <thead>
    <tr>
        <th class="docs-table__field">Name</th>
        <th class="docs-table__field">Type</th>
        <th class="docs-table__field">Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var p in Model.Parameters)
    {
        <tr>
            <td class="docs-table__field">@p.Name</td>
            <td class="docs-table__field">@p.Type</td>
            <td class="docs-table__field">@p.Description</td>
        </tr>
    }
    </tbody>
</table>