.leaderboard{
	margin: 15px 0;

	table{
		height:auto;
		padding: 0;
	}

	th{
		font-weight: normal;
		text-align: left;
	}

	th,
	td{
		display: none;
		padding: 5px;
		@media #{$widthXSmall} {
			display: block;
			display: table-cell;
		}
	}

	.base-column,
	.sort-column{
		display: block;
		display: table-cell;
	}

	th.sort-column{
		font-weight: bold;
	}

	.gametime{
		clear:left;
	}

	.rank{
		left:5px;
		top:5px;
	}

	.name{
		left: 35px;
		top: 5px;
	}

	.result{
		right: 5px;
		top: 5px;
	}

	.gametime{
	    left:35px;
		top:1.75em;
	}

	.winrate{
		right:5px;
		top:1.75em;
	}

	.rank,
	.winrate{
		@media #{$widthXSmall} {
			text-align: right;
		}
	}
}