$textColor: #444;

$widthXSmall: "only screen and (min-width : 480px)";
$widthSmall: "only screen and (min-width : 600px)";
$widthMedium: "only screen and (min-width : 768px)";
$widthLarge: "only screen and (min-width : 960px)";
$widthXLarge: "only screen and (min-width : 1382px)";

$greenBg: url("/FrontEnd/Images/whiteygreen.png") repeat scroll 0 0 transparent;