@using Web.Models.PageBaseModels
@model Web.Models.AppModels.Details.ApiDocsPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Api Documentation</h1>
</div>
<div class="block gutter">
    <p>
        There will be more documentation here soon. The first thing you need to know is that you will need an <a href="@Model.AppListUrl">app key</a> to access the api. 
    </p>
</div>