<button class="button button--icon" data-bind="visible: canReport, click: showReportForm">
    <i class="icon-reorder"></i>
    Report
</button>
<button class="button button--icon" data-bind="visible: canBuyIn, click: showBuyInForm">
    <i class="icon-money"></i>
    Buy In
</button>
<button class="button button--icon" data-bind="visible: canCashOut, click: showCashOutForm">
    <i class="icon-signout"></i>
    Cash Out
</button>
<button class="button button--icon" data-bind="visible: canEndGame, click: showEndGameForm">
    <i class="icon-signout"></i>
    End Game
</button>