@using Web.Models.PageBaseModels
@model Web.Models.HomegameModels.Join.JoinBunchConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Welcome</h1>
</div>
<div class="block gutter">
	<p>
		You have joined the bunch <a href="@Model.BunchUrl">@Model.BunchName</a>.
	</p>
</div>