<div class="region width2">
    <div class="block gutter">
        <h1 class="page-heading">Running Cashgame</h1>
    </div>

    <div class="button-list" v-show="areButtonsVisible">
        <game-button text="Report" icon="reorder" v-show="canReport" v-on:click="showReportForm"></game-button>
        <game-button text="Buy In" icon="money" v-show="canBuyIn" v-on:click="showBuyInForm"></game-button>
        <game-button text="Cash Out" icon="signout" v-show="canCashOut" v-on:click="showCashOutForm"></game-button>
        <game-button text="End Game" icon="signout" v-show="canEndGame" v-on:click="showEndGameForm"></game-button>
    </div>

    <div class="block gutter">
        <div class="form" v-show="reportFormVisible">
            <div class="field">
                <label class="label" for="report-stack">Stack Size</label>
                <input class="numberfield" data-bind="value: currentStack, hasFocus: true, selectOnFocus: /^.+/" data-val="true" data-val-number="The field stack must be a number." min="0" id="report-stack" pattern="[0-9]*" required="required" type="text" value="">
            </div>
            <div class="buttons">
                <button data-bind="click: report" class="button button--action">Report</button>
                <button v-on:click="hideForms" class="button">Cancel</button>
            </div>
        </div>
        <div class="form" v-show="buyInFormVisible">
            <div class="field">
                <label class="label" for="buyin-amount">Amount</label>
                <input class="numberfield" data-bind="value: buyInAmount, hasFocus: true, selectOnFocus: /^.+/" data-val="true" data-val-number="The field buyin must be a number." data-val-required="The BuyinAmount field is required." min="0" id="buyin-amount" pattern="[0-9]*" required="required" type="text" value="200">
            </div>
            <div class="field" data-bind="visible: isInGame">
                <label class="label" for="buyin-stack">Stack Size</label>
                <input class="numberfield" data-bind="value: beforeBuyInStack, selectOnFocus: /^.+/" data-val="true" data-val-number="The field stack must be a number." data-val-required="The StackAmount field is required." min="0" id="buyin-stack" pattern="[0-9]*" required="True" type="text" value="0">
            </div>
            <div class="buttons">
                <button data-bind="click: buyIn" class="button button--action">Buy In</button>
                <button v-on:click="hideForms" class="button">Cancel</button>
            </div>
        </div>
        <div class="form" v-show="cashOutFormVisible">
            <div class="field">
                <label class="label" for="cashout-stack">Stack Size</label>
                <input class="numberfield" data-bind="value: currentStack, hasFocus: true, selectOnFocus: /^.+/" data-val="true" data-val-number="The field stack must be a number." min="0" id="cashout-stack" pattern="[0-9]*" required="required" type="text" value="">
            </div>
            <div class="buttons">
                <button data-bind="click: cashOut" class="button button--action">Cash Out</button>
                <button v-on:click="hideForms" class="button">Cancel</button>
            </div>
        </div>
        <div class="form" v-show="endGameFormVisible">
            <h2>All done?</h2>
            <div class="buttons">
                <button data-bind="click: endGame" class="button button--action">Yes</button>
                <button v-on:click="hideForms" class="button">Cancel</button>
            </div>
        </div>
    </div>

    <div class="standings block gutter" v-show="hasPlayers">
        <player-table v-bind:players="players" v-bind:currency-format="currencyFormat"></player-table>
    </div>
    <div class="block gutter" v-else>
        No one has joined the game yet.
    </div>

    <div class="block gutter" v-show="hasPlayers">
        <!-- CHART <div data-bind="gameChart: players"></div> -->
    </div>
</div>

<div class="region width1 aside2">
    <div class="block gutter">
        <dl class="value-list">
            <dt class="value-list__key" v-if="hasPlayers">Start Time</dt>
            <dd class="value-list__value" v-if="hasPlayers">{{startTime}}</dd>
            <dt class="value-list__key">Location</dt>
            <dd class="value-list__value"><a href="{{locationUrl}}">{{locationName}}</a></dd>
            <dt class="value-list__key" v-if="isManager">Player</dt>
            <dd class="value-list__value" v-if="isManager">
                <player-dropdown v-bind:selected-player-id="playerId" v-bind:players="bunchPlayers"></player-dropdown>
            </dd>
        </dl>
    </div>
</div>