@using Web.Models.PageBaseModels
@model Web.Models.UserModels.ForgotPassword.ForgotPasswordPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Forgot Password</h1>
</div>
<div class="block gutter">
	
    <p>
		Please enter your email address. You will get a new password by email.
	</p>

    @Html.Partial("~/Views/Forms/Errors.cshtml")
    
    <form method="post">
		<fieldset>
            <p>
                @Html.LabelFor(model => model.Email, "Email", new { @class = "label" })
                @Html.TextBoxFor(model => model.Email, new { type = "email", @class = "textfield" })
            </p>
		</fieldset>
		<div class="buttons">
			<button class="action" type="submit">Send</button>
		</div>
	</form>
</div>