<div>
    <div class="table-list--sortable__sort-order-selector">
        <label for="gamelist-sortorder">Select Data:</label>
        <select id="gamelist-sortorder" v-model="orderBy">
            <option value="date">Date</option>
            <option value="playercount">Players</option>
            <option value="duration">Duration</option>
            <option value="turnover">Turnover</option>
            <option value="averagebuyin">Average Buyin</option>
        </select>
    </div>
    <table class="table-list table-list--sortable">
        <thead>
        <tr>
            <th is="game-list-column" name="date" title="Date" v-bind:order-by="orderBy" v-bind:is-default="true"></th>
            <th is="game-list-column" name="playercount" title="Players" v-bind:order-by="orderBy"></th>
            <th class="table-list__column-header"><span class="table-list__column-header__content">Location</span></th>
            <th is="game-list-column" name="duration" title="Duration" v-bind:order-by="orderBy"></th>
            <th is="game-list-column" name="turnover" title="Turnover" v-bind:order-by="orderBy"></th>
            <th is="game-list-column" name="averagebuyin" title="Average Buyin" v-bind:order-by="orderBy"></th>
        </tr>
        </thead>
        <tbody class="list">
            <tr is="game-list-row" v-for="game in sortedGames" v-bind:game="game" v-bind:order-by="orderBy" v-bind:currency-format="currencyFormat" v-bind:thousand-separator="thousandSeparator"></tr>
        </tbody>
    </table>
</div>