@using Web.Models.PageBaseModels
@model Web.Models.EventModels.Details.EventDetailsPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">@Model.Name</h1>
</div>
<div class="block gutter">
    @Html.Partial("Matrix/MatrixTable", Model.MatrixModel)
</div>