<div>
    <div v-if="initialized">
        <div class="region width3">
            <div class="block gutter">
                <h1 class="page-heading">Running Cashgame</h1>
            </div>

            <div class="block gutter" v-if="!hasPlayers">
                No one has joined the game yet.
            </div>
        </div>
        <div class="region width1">
            <div class="standings block gutter" v-if="hasPlayers">
                <player-table v-bind:players="sortedPlayers" v-bind:currency-format="currencyFormat"></player-table>
            </div>

            <div class="block gutter">
                <dl class="value-list">
                    <dt class="value-list__key" v-if="hasPlayers">Start Time</dt>
                    <dd class="value-list__value" v-if="hasPlayers">{{startTime}}</dd>
                    <dt class="value-list__key">Location</dt>
                    <dd class="value-list__value"><a v-bind:href="locationUrl">{{locationName}}</a></dd>
                </dl>
            </div>
        </div>

        <div class="region width2 aside2">
            <div class="block gutter" v-if="hasPlayers">
                <game-chart v-bind:players="players"></game-chart>
            </div>
        </div>
    </div>
    <spinner v-else></spinner>
</div>