@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.Invite.InvitePlayerConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Player Invited</h1>
</div>
<div class="block gutter">
	<p>
		The player was invited.
	</p>
</div>