@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.Invite.InvitePlayerPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Invite Player</h1>
</div>
<div class="block gutter">
	
    @Html.Partial("~/Views/Forms/Errors.cshtml")
    
    <p>
		Invite this player to see his own results.
	</p>

    <form method="post">
		<fieldset>
			<p>
                @Html.LabelFor(model => model.Email, "Email", new { @class = "label" })
                @Html.TextBoxFor(model => model.Email, new { @class = "textfield" })
			</p>
		</fieldset>
		<div class="buttons">
			<button class="action" type="submit">Invite</button>
		</div>
	</form>
</div>