@if(!ViewData.ModelState.IsValid)
{
    <div class="errors">
        @foreach (var modelState in ViewData.ModelState.Values)
        {
            foreach (var error in modelState.Errors)
            {
                <p class="validation-error">
                    @error.ErrorMessage
                </p>
            }
        }
    </div>
}