@model Web.Models.ErrorModels.ErrorListModel
@if(Model.HasErrors)
{
    <div class="errors">
        @foreach (var message in Model.Messages)
        {
            <p class="validation-error">
                @message
            </p>
        }
    </div>
}