@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Index.CashgameIndexPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">Current Rankings</h1>
    @if (Model.HasGames)
    {
        @Html.RenderModel(Model.CurrentRankingsModel)
    }
    else
    {
        <p>The rankings will be displayed here when you have played your first game.</p>
    }
</div>

@section Aside1
{
    <div class="gutter">
        @Html.RenderModel(Model.StatusModel)
    </div>
}
