@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Index.CashgameIndexPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">Current Rankings</h1>
    @Html.Partial("CurrentRankings/CurrentRankingsTable", Model.CurrentRankingsModel)
</div>

@section Aside1
{
<div class="gutter">
    @Html.Partial("CashgameIndex/Status", Model.StatusModel)
</div>
}
