@model Web.Models.CashgameModels.Status.CashgameStatusModel
<div class="block">
    <h1 class="module-heading">@Model.Heading</h1>
</div>
<div class="block">
    <a href="@Model.Url" class="button action">@Model.LinkText</a>
</div>