@using Web.Models.PageBaseModels
@model Web.Models.UserModels.List.UserListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Users</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var userModel in Model.UserModels)
        {
            <li class="simple-list__item">
                @Html.Partial("UserList/Item", userModel)
            </li>
        }
    </ul>
</div>