@using Web.Extensions
@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.Chart.CashgameChartPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <div data-require="cashgame-chart">
        @Html.RenderModel(Model.SpinnerModel)
        <script type="application/json">
            @Html.Raw(Model.ChartJson)
        </script>
    </div>
</div>