@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.List.PlayerListPageModel

@{
    Layout = PageLayout.TwoColumns;
}

<div class="block gutter">
    <h1 class="page-heading">Players</h1>
</div>
<div class="block gutter">

    <ul class="simple-list">
        @foreach (var playerModel in Model.PlayerModels)
        {
            <li class="simple-list__item">
                @Html.Partial("PlayerList/Item", playerModel)
            </li>
        }
    </ul>
    
</div>

@section Aside1
{
    @if (Model.ShowAddLink)
    {
        <div class="block gutter">
            <a href="@Model.AddUrl" class="button button--action">Add Player</a>
        </div>
    }
}
