@using Web.Models.PageBaseModels
@model Web.Models.EventModels.Add.AddEventConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    <h1 class="page-heading">Player Added</h1>
</div>
<div class="block gutter">
	<p>
		The player was added to @Model.BunchName.
	</p>
</div>