Options +FollowSymLinks
RewriteEngine On
RewriteBase /

#removes trailing slash
RewriteRule (.*)/$ /$1 [L,R=301]

RewriteRule ^test$ tests/TestViews.html [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^test/unit$ tests/TestRunner.php [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^test/int$ tests/TestRunner.php?integration&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^test/web$ tests/TestRunner.php?web&%1 [L]

RewriteRule ^unitcover$ tests/TestRunner.php?coverage&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^unitnav$ tests/TestRunner.php?navigation&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^intcover$ tests/TestRunner.php?integration&coverage&%1 [L]
RewriteCond %{QUERY_STRING} ^(.*)$
RewriteRule ^intnav$ tests/TestRunner.php?integration&navigation&%1 [L]

RewriteRule ^js - [L]
RewriteRule ^img - [L]
RewriteRule ^core/ui - [L]
RewriteRule ^tests - [L]
RewriteRule ^i.php - [L]
RewriteRule ^favicon.ico - [L]

RewriteRule ^.+$ index.php