@model Web.Models.CashgameModels.Matrix.CashgameMatrixPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

@Html.Partial("~/Views/Cashgame/Running/Bar.cshtml", Model.BarModel)
@Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.CashgameNavModel.PageNavModel)

<div class="block gutter">
    <h1>
        Matrix
        @Html.Partial("~/Views/Navigation/CashgameNavigation.cshtml", Model.CashgameNavModel)
    </h1>
</div>
<div class="block gutter">
    @Html.Partial("Matrix/MatrixTable", Model.TableModel)
</div>