@model Web.Models.CashgameModels.Matrix.CashgameMatrixTableModel
  
<div class="matrix-container">
    <table class="cashgames matrix">
        <thead>
		    <tr>
			    <th class="title">Rank</th>
			    <th class="title">Player</th>
		        <th class="title">Winnings</th>
                @foreach (var columnHeaderModel in Model.ColumnHeaderModels)
                {
                    @Html.Partial("Matrix/MatrixTableColumnHeader", columnHeaderModel)
                }
		    </tr>
        </thead>

        <tbody>
            @foreach (var rowModel in Model.RowModels)
            {
                @Html.Partial("Matrix/MatrixTableRow", rowModel)
            }
        </tbody>

    </table>
</div>