@using Web.Models.PageBaseModels
@model Web.Models.PlayerModels.Add.AddPlayerConfirmationPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
	<h1>Player Added</h1>
</div>
<div class="block gutter">
	<p>
		The player was added to @Model.HomegameName.
	</p>
</div>