@model Web.Models.PlayerModels.Add.AddPlayerPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>Player Added</h1>
</div>
<div class="block gutter">
	<p>
		The player was added to @Model.HomegameName}.
	</p>
</div>