<tr class="table-list__row">
    <td class="table-list__cell table-list--sortable__base-column {{dateSortCssClass}}">
        <a href="{{game.url}}">{{displayDate}}</a>
    </td>
    <td class="table-list__cell table-list__cell--numeric {{playerCountSortCssClass}}">{{game.playerCount}}</td>
    <td class="table-list__cell">{{game.location}}</td>
    <td class="table-list__cell {{durationSortCssClass}}" v-text="game.duration | time"></td>
    <td class="table-list__cell table-list__cell--numeric {{turnoverSortCssClass}}" v-text="game.turnover | currency currencyFormat thousandSeparator"></td>
    <td class="table-list__cell table-list__cell--numeric {{averageBuyinSortCssClass}}" v-text="game.averageBuyin | currency currencyFormat thousandSeparator"></td>
</tr>