@model Web.Models.CashgameModels.List.CashgameListTableModel
<table class="cashgames table-list">
    <thead>
    <tr>
        <th class="title date"><span>Date</span></th>
        <th class="title"><span>Players</span></th>
        <th class="title"><span>Location</span></th>
        <th class="title"><span>Duration</span></th>
        <th class="title"><span>Turnover</span></th>
        <th class="title"><span>Average Buyin</span></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var listItemModel in Model.ListItemModels)
        {
            @Html.Partial("List/CashgameTableItem", listItemModel);
        }
    </tbody>
</table>