@model Web.Models.CashgameModels.List.CashgameListPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

@Html.Partial("~/Views/Navigation/CashgamePageNavigation.cshtml", Model.PageNavModel)

<div class="block gutter">
    @Html.Partial("~/Views/Navigation/CashgameYearNavigation.cshtml", Model.YearNavModel)
</div>
<div class="block gutter">
    @Html.Partial("List/CashgameTable", Model.ListTableModel)
</div>