@model Web.Models.CashgameModels.List.CashgameListPageModel

@{
    Layout = "~/Views/Layouts/OneColumn.cshtml";
}

<div class="block gutter">
	<h1>
		@Html.Partial("~/Views/Navigation/CashgameNavigation.cshtml", Model.CashgameNavModel)
	</h1>
</div>
<div class="block gutter">
    @Html.Partial("List/CashgameTable", Model.ListTableModel)
</div>