@using Web.Models.PageBaseModels
@model Web.Models.CashgameModels.List.CashgameListPageModel

@{
    Layout = PageLayout.OneColumn;
}

<div class="block gutter">
    @Html.Partial("List/CashgameTable", Model.ListTableModel)
</div>