<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiKey" value="4ddca9f2-c946-4d47-95a1-f222358da41e" />
  <add key="SqlConnectionString" value="Server=EUROPE;Database=pokerbunch-db;User ID=pokerbunch-user;Password=pokerr00m;Trusted_Connection=False;Encrypt=False;Connection Timeout=30;" />
</appSettings>