<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="SiteHost" value="pokerbunch.com"/>
    <add key="ApiHost" value="api.pokerbunch.com"/>
    <add key="InProduction" value="true" xdt:Transform="SetAttributes" />
  </appSettings>

  <system.net>
    <mailSettings>
      <smtp>
        <network host="smtp.sendgrid.net" userName="azure_91eaa4a9911b6823a978270dcae5abe5@azure.com" password="w3yemy1b" xdt:Transform="SetAttributes" />
      </smtp>
    </mailSettings>
  </system.net>

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" xdt:Transform="SetAttributes" />
    </staticContent>
  </system.webServer>
  
</configuration>