<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.webServer>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="1.00:00:00" xdt:Transform="SetAttributes" />
    </staticContent>
  </system.webServer>

  <location path="dist">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="100.00:00:00" xdt:Transform="SetAttributes" />
      </staticContent>
    </system.webServer>
  </location>

  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
  </system.web>

</configuration>